@import "normalize";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-position: left top;
  background-repeat: repeat;
  min-height: 100%;
}

.container {
  width: 1400px;
  max-height: 100%;
  margin: 0 auto;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
}

.header {
  overflow: hidden;
  position: relative;
  height: 85vh;
  margin: 30px auto 0;

  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: $blog-ff;
    font-size: 10rem;
    font-weight: 400;
  }

  &__menu {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px;
    border: 1px solid #7f7f7f;
    fill: #7f7f7f;
    transition: all 0.25s ease-in;
  }

  &__person {
    position: absolute;
    top: 5%;
    right: 5%;
    fill: #7f7f7f;
    transition: all 0.25s ease-in;
  }

  &__person:hover,
  &__person:focus,
  &__person:active {
    fill: #fff;
  }

  &__menu:hover,
  &__menu:focus,
  &__menu:active {
    fill: #fff;
    border: 2px solid #fff;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: repeat(6, 350px);
  margin-bottom: 15px;
  text-align: center;
  z-index: 2;
  font-size: 0;
  &__item {
    grid-column: span 1;
    grid-row: span 1;
    overflow: hidden;
    background-color: #fff;
    position: relative;

    &--arrow-right:before {
      content: "";
      border: solid transparent;
      position: absolute;
      right: 0;
      border-right-color: #fff;
      border-width: 20px;
      top: 165px;
      z-index: 1;
    }
    &--arrow-left:before {
      content: "";
      border: solid transparent;
      position: absolute;
      left: 0;
      top: 165px;
      border-left-color: #fff;
      z-index: 1;
      border-width: 20px;
    }
    &--2wh {
      grid-column: span 2;
      grid-row: span 2;
      position: relative;
    }
  }
  &__img {
    width: 100%;
    z-index: -1;
    transition: all 0.25 ease-in;
  }

  &__text {
    max-width: 80%;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    &--lg {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__link {
    height: 100%;
    display: inline-block;
  }

  &__link:hover {
    .grid__title {
      text-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
      opacity: 0.7;
    }
    .grid__title--white {
      text-shadow: 0px 3px 10px rgba(255, 255, 255, 1);
      opacity: 1;
    }

    .fas {
      font-size: 2rem;
    }
  }
  &__date {
    margin-top: 100px;
    font-size: 1.5rem;
    color: $data-color;
    letter-spacing: -0.5px;
    display: block;
    &--white {
      color: #ffffff;
    }
  }
  &__title {
    font-size: 3rem;
    display: block;
    margin: 20px 0;
    color: $text-color;
    transition: all 0.25s ease-in;
    &--white {
      color: #ffffff;
      font-size: 4rem;
    }
  }
}

.fas {
  font-size: 1.5rem;
  color: $data-color;
  display: block;
  transition: all 0.25s ease-in;
}

.copyright {
  color: #7f7f7f;
  text-align: center;
  font-size: 1.5rem;
}

.footer {
  &__logo {
    margin-top: 20px;
    color: #181818;
    opacity: 0.5;
    font-size: 20rem;
    font-family: $blog-ff;
    text-align: center;
  }
}

// Helpers

.uppercase {
  text-transform: uppercase;
}

.small {
  font-size: 1rem;
}

.red {
  color: $data-color;
  text-decoration: none;
}
